/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  ;
}
body {
  color: #fff;
  text-align: center;
 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
/*modificar los colores */
#texto{
padding-left: 0px;
text-align: justify;
font-size: 15px;
}
img#foto-about{
   width: 60%;
  text-align:center;
  height: auto;
}
h3{
  text-align: left;

}
.content{
 color: black;
}
#info{
  padding-left: 20px;
  text-align: left;
  list-style-type: none;
}
#img-logo{
  width: 200px;
  text-align:center;
  height: 150px;
}
#foto-group{
  width: 240px;
  height: 250px;
}
@media screen and (max-width: 1024px ) {

  body{
    background-color: lightblue;
    width: 100%;
  }
  header,div,footer,body,p{
    display: block;
    padding: 0;
    width: auto;
  }
  #img-logo{
    width: 12em;
  height: auto;
  }
  .col-4{
    display: none;
    display: inline-block;
    width: 100%;

  }
  p#texto{
    width: 100%;
  }


}

@media only screen and (min-width: 360px) and (max-width: 640px){
    body{
    background-color: lightblue;
    width: 100%;
  }
    #foto-group{
  width: 80px;
  height: 80px;
  
    }
    p#texto{
    width: 100%;
  padding-left: 5px;
  text-align: center;
  list-style-type: none;
  }
#info{
  font-size: 5px;

}

}

@media only screen and (min-width: 318px) and (max-width: 880px){
    body{
    background-color: lightblue;
    width: 100%;
  }
    #foto-group{
  width: 80px;
  height: 80px;
  
    }
    p#texto{
    width: 100%;
  padding-left: 5px;
  text-align: center;
  list-style-type: none;
  }
#info{
  font-size: 5px;

  
  
}
#img-logo{
    width: 10em;
  height: auto;
  }

}