
/*modificar los colores */
#texto{
padding-left: 0px;
text-align: justify;
font-size: 15px;
}
img#foto-about{
   width: 60%;
  text-align:center;
  height: auto;
}
h3{
  text-align: left;

}
.content{
  width: 80%;
 color: black;
}
#info{
  padding-left: 20px;
  text-align: left;
  list-style-type: none;
}
#img-logo{
  width: 200px;
  text-align:center;
  height: 150px;
}
#foto-group{
  width: 240px;
  height: 250px;
}


@media only screen and (min-width: 360px) and (max-width: 640px){
    body{
   
    width: 100%;
  }
    #foto-group{
  width: 80px;
  height: 80px;
  
    }
    p#texto{
    width: 100%;
  padding-left: 5px;
  text-align: center;
  list-style-type: none;
  }
#info{
  font-size: 5px;

}

}

@media only screen and (min-width: 318px) and (max-width: 880px){
    body{
    
    width: 100%;
  }
    #foto-group{
  width: 80px;
  height: 80px;
  
    }
    p#texto{
    width: 100%;
  padding-left: 5px;
  text-align: center;
  list-style-type: none;
  }
#info{
  font-size: 5px;

  
  
}
#img-logo{
    width: 10em;
  height: auto;
  }

}