


h1{
	text-align: center;
}
header,.navbar-default{
	background-color: #e0c069;
	width: 100%;
}
form{
	float: right;
}
.nav-link{
	border-radius: 12px;
}

p{
	margin-left: 10%;
	padding:10px;
}
h3{
border-bottom-style: dotted 1em blue;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	margin-left: 10%;
}

div#left-content{

	text-align: justify;

}


#nav-bloque,#nav-superior{
	background-color: 211,211,211;	
}


#link-block>div{
	display: inline-block;
}


.nav-link{
	font-size: 1.2em;
	 text-shadow: 0 1px 3px rgba(0,0,0,.5);
	font-weight: bold;
}
.nav-link:hover{
	text-decoration: underline;
}
h3#side:hover{
	border-bottom-style: dotted 1em blue;
	text-decoration: underline;
	
}
#right-content{
	height: 100%;
	
}
#bloque_content{
	font-size: 1.3em;
}

/*Background del body*/
body{
	background-color: #FFFFFF;

}
.content{
	padding:0% 5%;


}

#img-0,#img-1,#img-2{
width: auto;
height: 400px;

}
#logo{
	width: 3.5em;

}
/*modificiacion predeterminada del bootstrap, o bien modificar el bootstrap css*/
.navbar-brand{
	height: 4.5em;

}
.nav-link{
font-size: 1.2em;
}
li{
	border-style: none;

}

footer {
	background-color: #e0c069;
	display: block;
	padding: 45px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
}


/*#right-content,#left-content{
	background-color: red;
}*/
img#right-img{
	display: block;
	width:100%;
	height:auto;
	float:right;

}
/*estilo definido para dispositivos hasta un max de ancho de 1024px*/
@media screen and (max-width: 1024px ) {
body{
padding-right: 0;
	text-align: center;
	width: 100%;
}
header{
	font-size: .8em;
}
img#slide{
	max-width: 60%;
	max-height: 30%;
}

div#left-content,div#right-content{
	display: block;
	min-width: 100%;
	padding: 10% 10%;
	max-height: auto;


}
div.bloque{
	display: block;
	width: 100%;
}
#right-img{
	display: block;
	max-height: auto;
	max-width: auto;
}
footer{
	width: 100%;
}
.navbar-brand{
	display: none;
}




body, html{
    width: 100%;
    height: 100%;

    }

.main .row{
    padding: 0%;
    margin: 0%;
    }

/*ESTILO PARA COMPUTADORAS*/
@media only screen and (min-width: 1300px){

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
        height: 100%;
    }
      
    nav.sidebar{
        margin-left: 0%;
        float: left;
        width: 15%;
        height: 100%;
    }

    #franja{
        background-color: black;
        margin-bottom: 20px;
        height: 10px;
        width: 100%;
    }   

    div#food-logo{
        width: 100%;
        margin: 10%  0% 20% 4%;
    }}